{%load static%}
<!DOCTYPE html>
<html style="background-size: cover;background-repeat: no-repeat;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>events</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{%static 'events/assets/css/styles.min.css'%}">
</head>
<body style="background-repeat: no-repeat;background-size: cover;background-image: url(&quot;{%static 'posts/assets/img/home_image.jpeg'%}&quot;);">
    <h1 class="site-name" style="margin-left: 20px;margin-top: 20px;"><img height="200" src="{%static 'posts/assets/img/logo.png'%}" style="height: 130px;">ODTÜ Sualtı Topluluğu</h1>
<!-- navbar-->
    <nav class="navbar navbar-light navbar-expand-md d-lg-flex" style="background-color: #4d4949;width: 985;">
        <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item d-inline" role="presentation"><a class="nav-link active" href="/home">Anasayfa</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="filter: hue-rotate(0deg) invert(0%);">Hakkımızda&nbsp;</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/about">Biz Kimiz</a><a class="dropdown-item" role="presentation" href="/accounts/boardmembers">Kurullar</a><a class="dropdown-item" role="presentation" href="/accounts/members/list1">Üyelerimiz</a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="filter: hue-rotate(0deg) invert(0%);">Etkinlikler&nbsp;</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/events/camps">Kamplar</a><a class="dropdown-item" role="presentation" href="/events/meetings">Toplantılar</a><a class="dropdown-item" role="presentation" href="/events/lectures">Eğitimler</a></div>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Dersler&nbsp;</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/courses/SAT1XX">100 Kodlu Dersler</a><a class="dropdown-item" role="presentation" href="/courses/SAT2XX">200 Kodlu Dersler</a><a class="dropdown-item" role="presentation" href="/courses/SAT3XX">300 Kodlu Dersler</a>
                            <a
                                class="dropdown-item" role="presentation" href="/courses/SAT4XX">400 Kodlu Dersler</a>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">İletişim</a></li>
                    <!-- Start: Authenticated User -->
                    {%if user.is_authenticated%}
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Üye İşlemleri&nbsp;</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/accounts/profile">Profili Görüntüle</a><a class="dropdown-item" role="presentation" href="/accounts/profile/{{user.id}}/edit">Profili Düzenle</a><a class="dropdown-item" role="presentation" href="/accounts/logout">Çıkış Yap</a></div>
                        </li>
                    {%else%}
                    <!-- End : Authenticated User -->
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/accounts/login">Üye Girişi</a></li>
                    {% endif %}
                    <!-- Start: Authorized User -->
                    {%if perms.auth.add_user%}
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Yönetim Paneli&nbsp;</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/accounts/requests">Üye İstekleri</a><a class="dropdown-item" role="presentation" href="/announcements/add">Duyuru Ekle</a><a class="dropdown-item" role="presentation" href="/">deneme</a></div>
                    </li>
                    <!-- End : Authorized User -->
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {%if perms.events.add_lecture%}
    <!-- Start: Sidebar -->
    <div>
        <div class="container" style="background-color: #009fde;">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="text-center my-4" style="background-color: rgba(140,11,11,0.48);">{{lecture.lecture_course}}<br></h1>
                    <h4 class="text-center my-4" style="background-color: rgba(140,11,11,0.48);">{{lecture.date}} - {{lecture.location}}&nbsp;<br></h4>
                    <div class="row">
                        <div class="col-md-8 offset-xl-0" style="margin-bottom: 30px;"><img class="img-fluid" src="{{lecture.photo.url}}" alt="Alt Text" style="width: 500px;">
                            <ul class="list-group">
                                <li class="list-group-item"><span>Eğitmen : {{lecture.instructor}}</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <p>{{lecture.text}}</p>
                            {%if lecture.file%}
                                <ul class="list-unstyled">
                                    <li style="color: rgb(14,14,14);"><a href="{{lecture.file.url}}" style="color: rgb(183,56,79);">{{lecture.file}}</a></li>
                                </ul>
                                {%endif%}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Start: Vertical menu -->
                    <section id="vertical-menu">
                        <div class="list-group"><a class="list-group-item active" href="/events/lectures"> <i class="fa fa-book fa-fw"></i>Eğitimler</a><a class="list-group-item" href="/events/lectures/create"> <i class="fa fa-pencil fa-fw"></i>Eğitim Ekle</a><a class="list-group-item"
                                href="/events/lectures/{{lecture.id}}/update"> <i class="fa fa-edit fa-fw"></i>Eğitim Bilgilerini Düzenle</a></div>
                    </section>
                    <!-- End: Vertical menu -->
                </div>
            </div>
        </div>
    </div>
    <!-- End: Sidebar -->
    {%else%}
    <!-- Start: Bold BS4 Portfolio Item Details Page -->
    <div class="container" style="background-color: #009fde;color: rgb(251,251,251);margin-bottom: 30px;padding-bottom: 30px;">
        <h1 class="text-center my-4" style="background-color: rgba(140,11,11,0.48);">{{lecture.lecture_course}}<br></h1>
        <h4 class="text-center my-4" style="background-color: rgba(140,11,11,0.48);">{{lecture.date}} - {{lecture.location}}&nbsp;<br></h4>
        <div class="row">
            <div class="col-md-8 offset-xl-0"><img class="img-fluid" src="{{lecture.photo.url}}" alt="Alt Text">
                <ul class="list-group" style="color: rgb(33,37,41);">
                    <li class="list-group-item"><span>Eğitmen : {{lecture.instructor}}</span></li>
                </ul>
            </div>
            <div class="col-md-4">
                <p>{{lecture.text}}</p>
                            {%if lecture.file%}
                                <ul class="list-unstyled">
                                    <li style="color: rgb(14,14,14);"><a href="{{lecture.file.url}}" style="color: rgb(183,56,79);">{{lecture.file}}</a></li>
                                </ul>
                                {%endif%}
            </div>
        </div>
    </div>
    <!-- End: Bold BS4 Portfolio Item Details Page -->
    {%endif%}
    {%if user.is_authenticated%}
    <!-- Start: Submit -->
        <form action="/events/lectures/{{object.id }}/" method="POST" enctype="multipart/form-data">

{% csrf_token %}
    <div class="jumbotron" style="background-color: rgb(134,196,200);margin: 20px;">
        <h1>Toplantıya Katılım</h1>
        <p></p>
        <p><input class="btn btn-primary" type="Submit" name="Submit" value="Katıl" style="margin-right: 40px;background-color: rgb(21,136,40);"></input><input class="btn btn-primary text-justify" type="Submit" name="Delete" value="İptal et" style="margin-right: 40;background-color: rgb(207,27,27);"></p>
    </div>

</form>
    <div role="tablist" id="accordion-1" style="margin-bottom: 30px;">
        <div class="card">
            <div class="card-header" role="tab">
                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="div#accordion-1 .item-1">Katılımcılar</a></h5>
            </div>
            <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                <div class="card-body">
                    <div class="table-responsive" style="background-color: #d9d5d5;">
                        <table class="table table-striped">
                            <thead>
                                <tr style="background-color: #7e7777;">
                                    <th>Üye Numarası</th>
                                    <th>Ad-Soyad</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in  participant_set %}
                                <tr>
                                    <td><a class="btn btn-primary" role="button" href="/accounts/member/{{event.member.member_no}}">{{event.member.member_no}}</a></td>
                                    <td>{{event.member.user.first_name}} {{event.member.user.last_name}}</td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endif%}
    <!-- Start: index-top-info -->
    <div class="d-xl-flex d-flex align-items-xl-center index-top-info">
        <div class="container">
            <div class="row">
                <div class="col social-links">
                    <div class="float-left">
                        <ul>
                            <li><a href="https://www.facebook.com/odtusat/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/odtusat/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.youtube.com/user/ODTUSAT"><i class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col contact-information">
                    <div class="float-right"><span>sat-yk@metu.edu.tr</span></div><a href="/home" style="padding-right: 20px;">Anasayfa</a><a href="/accounts/login" style="padding-right: 20px;">Üye Girişi</a><a href="/contact" style="padding-right: 20px;">İletişim</a></div>
            </div>
        </div>
    </div>
    <!-- End: index-top-info -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{%static 'events/assets/js/script.min.js'%}"></script>
</body>

</html>