
{% extends 'base.html' %}
{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">


{% if object_list %}
  <div>
      
      <table>
      <tr class='table_head'>
          <th>No</th>
          <th>Eğitim Tarihi</th>
          <th>Eğitmen </th>
          <th>Eğitim </th>
      </tr>
      {% for lecture in object_list %}

          <tr>
            <td><a href="/events/lectures/{{lecture.id}}/">{{lecture.id }}</a></td>
            <td>{{lecture.date}}</td>
            <td>{{lecture.instructor}}</td>
            <td>{{lecture.lecture_course}}</td>
          </tr>
     
        {% endfor %}
    </table>

  
  </div>




    </ul>
{% else %}
    <p>No lecture available.</p>
{% endif %}

	  {% if user.groups.all  %}
<div class="vertical-menu">
  <a href="#" class="active">Home</a>

  {% if perms.events.add_lecture %}
  <a href="/events/lectures/create/">Eğitim Ekle</a>
	{% endif %}
</div>
		{% endif %}


{% endblock %}